<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-audio-player" version="0.0.1">
  <name>Cordova Plugin Webview Board</name>
  <description>webview board</description>
	<engines>
		<engine name="cordova-android" version=">=7.1.0" />
	</engines>
  <js-module src="www/CordovaPluginAudioPlayer.js" name='AudioPlayerManager' >
    <clobbers target="AudioPlayerManager" />
  </js-module>
  
    <!-- Android -->
  <platform name="android" kotlin="1.3.60">
   <config-file target="res/xml/config.xml" parent="/*">
      <feature name="NativeVideoPlayer">
        <param name="android-package" value="jp.rabee.CDVPluginAudioPlayer"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*" mode="merge">
        <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    </config-file>

    <!-- soruce -->
    <!-- <source-file src="src/android/java/MediaItem.kt" target-dir="app/src/main/java/jp/rabee"/> -->
    <source-file src="src/android/java/CDVPluginAudioPlayer.kt" target-dir="app/src/main/java/jp/rabee"/>
    <source-file src="src/android/java/CDVPluginAudioPlayerData.kt" target-dir="app/src/main/java/jp/rabee"/>

    <!--gradle file-->
    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

    <!--for support kotlin-->
    <hook type="after_platform_add" src="scripts/android/copy_build_extras.js" />
    <hook type="after_plugin_add" src="scripts/android/copy_build_extras.js" />
  </platform>

  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CDVPluginAudioPlayer">
        <param name="onload" value="true" />
        <param name="ios-package" value="CDVPluginAudioPlayer" />
      </feature>

      <preference name="deployment-target" value="10.0" />
    </config-file>

    <source-file src="src/ios/CDVPluginAudioPlayer.swift" />
    <source-file src="src/ios/CDVPluginAudioPlayer-Bridging-Header.h" />

    <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    <preference name="UseSwiftLanguageVersion" default="4" />
  </platform>

</plugin>
